<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1> Add new links here! </h1>
    <form action="/create_new_link" method="post">
      <input type="text" name="new_link" value="http://www.what44ever.com">
      <input type="text" name="title" value="what44ever">
      <input type="submit" value="Save link">
    </form>
    <h2><%= flash[:notice] %></h2>
  </body>
</html>
