<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1> Filling the title of the link you will delete </h1>
    <form action="/delete_link" method="post">
      <input type="text" name="title">
      <input type="submit" value="delete link">
    </form>
  </body>
</html>
