<h2> If you want to add new links then click the button below! </h2>

<form action="/add_link" method="post">
  <input type="submit" value="Add new link">
</form>

<ul>
  <% @links.each do |link| %>
  <li><%= link %></li>
  <% end %>
</ul>
