<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <h1> If you want to add new links then click the button below! </h1>
      <% @links.each do |link| %>
      <h3>
        <li><a href="<%= link.url %>"> <%= link.title %></a></li>
      </h3>
      <% end %>
    <form action="/add_link" method="get">
      <input type="submit" value="Add new link">
    </form>
    <form action="/delete_link" method="get">
    <input type="submit" value="delete link">
  </form>
  </body>
</html>
